<a href="https://colab.research.google.com/github/anzabanita/Books/blob/master/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x =1
type (x)

int

In [2]:
var = "Hello World"
type (var)

str

In [4]:
x= 2+3j
type (x)

complex

In [5]:
y = 1.5888
type(y)

float

In [6]:
dir (str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [7]:
var = "Hello World"
var.upper()

'HELLO WORLD'

In [13]:
print(" Welcome to Python World")

 Welcome to Python World

In [15]:
# This is a comment-single line comment

"""This is a multi line comment"""

'This is a multi line comment'

In [ ]:
#Python Data Types
#Numerical Data Types: int(5, 1000, -96), float(56.32, -10.34)
#String: str(' 'This is a string)
#Bool: True/False
#Collection Data Types (sequences): list, tuple, dict, set
#Dynamic Typing

In [18]:
age=45
print(age)
print(type(age))

45
<class 'int'>

In [19]:
roi=12.99
print(roi)
print(type(roi))

12.99
<class 'float'>

In [21]:
#name="Inshuti Nya Nshuti"
name='Inhuti Nya Nshuti'
print(name)
print(type(name))

Inhuti Nya Nshuti
<class 'str'>

In [22]:
st='The "Sun" is rising in east'
print(st)
print(type(st))

The "Sun" is rising in east
<class 'str'>

In [23]:
#Dynamic Typing
var=100
print(var)
print(type(var))
var="Python"
print(var)
print(type(var))

100
<class 'int'>
Python
<class 'str'>

In [24]:
var=True
print(var)
print(type(var))

True
<class 'bool'>

In [25]:
var=34.56
print(var)
print(type(var))

34.56
<class 'float'>

In [ ]:
#Rule of Variables in Python
#No -, special character, Number allowed, ==> Invalid syntax
myvar=45
my_var=45
_my_var=45
myVar=45
MYVAR=45
myvar2=45

In [30]:
#Operators in Python a+b
#Arthmetical Operators: +, -, /, *, //, %(module), **(power)
print(10+55)  # Additional Operation
print(45/8)   # Division Operation
print(45//8)   #Floor Division only int part
print(45%8 )   # Remainder of division
print(78*6)   # Multiplication
print(10**3)  #x^y

65
5.625
5
5
468
1000

In [32]:
#Round off
print(round(45.23698,2))
print(round(10.725,2))

45.24
10.72

In [33]:
#Assignment Operators
# =, +=, -=, *=, /=, %=, //=, **=
salary=45000
salary+=10000   #a+=b   a=a+b
print(salary)

55000

In [34]:
#Relational/Comparison Operator >,<, <=, >=, ==, !=(not equal)
age=45
print(age>18)   #True
print(age<18)
print(age>=18)
print(age<=18)
print(age==18)   #age=18 assignment
print(age!=18)   # not equal 18

True
False
True
False
False
True

In [36]:
#Logical Operators, allows to check multple Operators
age=70
print(age>18 and age <60)
print(age>18 or age <60)      # One of the conditon is True ==> True
print(not(age>18 or age <60))
print(not(age>18 and age <60))

False
True
False
True

In [37]:
#Flow control Statements: Conditional Statements and Loops
#Conditional Statements: if , else, elif, nested statement

#Check number is even or odd?
num=10
if num%2==0:
    print("Even")
else:
    print("Odd")

Even

In [38]:
#Check number is even or odd?
num=17
if num%2==0:
    print("Even")
else:
    print("Odd")

Odd

In [80]:
#check if character is vowel or consonent?
char=input("Enter a character: ")
if char=='a' or char=='A':
    print("its a vowel");
elif char=='e' or char=='E':
    print("its a vowel")
elif char=='i' or char=='I':
    print("its a vowel")
elif char=='o' or char=='O':
    print("its a vowel")
elif char=='u' or char=='U':
    print("its a vowel")
else:
    print("Consonent")

Enter a character: D
Consonent

In [81]:
#Nested Statements
#marks<80 -->B
#marks>80 and marks<100 -->A
#marks>90 -->A+
marks=int(input("Enter your marks: "))
if marks<80:
    print("B")
else:
    if marks>80 and marks<90:
        print("A")
    else:
        if marks>90:
           print("A+")
        else:
                print("Invalid")

Enter your marks: 91
A+

In [70]:
#Python Loops: for, while
#For loop: best when working with collection (list, tuple, set, dict)
lst=[1,2,3,4,5,6,7,8,9,10]
num=int(input("Enter a number: "))
for i in lst:
    print(i*num)

Enter a number: 100
100
200
300
400
500
600
700
800
900
1000

In [65]:
#While: works well with conditions
num=int(input("Enter a number: "))
i=1
while i<=10:  #Stoping condition
    print(i*num)
    i+=1

Enter a number: 12
12
24
36
48
60
72
84
96
108
120

In [79]:
char=input("Enter a character: ")
if char=='a' or char=='A':
    print("its a vowel")

Enter a character: a
its a vowel