<a href="https://colab.research.google.com/github/anzabanita/Books/blob/master/Python_Basics_DSML_Nov24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Welcome to Python World")

Welcome to Python World

In [ ]:
#This is a comment-single line comment

"""This is
a
multiline
comment
"""

'This is\na\nmultiline \ncomment\n'

In [ ]:
#Python Data Types

#Numerical Data Types: int(5,1000,-96),float(56.32,12.99,-10.23)
#String: str('This is a strng')
#Bool: True/False
#Collection Datatypes(sequences): list,tuple,dict,set

#Dynamic Typing

In [ ]:
age=45
print(age)
print(type(age))

45
<class 'int'>

In [ ]:
roi=12.99
print(roi)
print(type(roi))

12.99
<class 'float'>

In [ ]:
#name="Radhika Tiwari"
name='Radhika Tiwari'
print(name)
print(type(name))

Radhika Tiwari
<class 'str'>

In [ ]:
st='The "Sun" rises in east'
print(st)

The "Sun" rises in east

In [ ]:
#Dynamic Typing
#Static types   int age=45

var=100
print(type(var))

<class 'int'>

In [ ]:
var='Radhika'
print(type(var))

<class 'str'>

In [ ]:
var=True
print(type(var))

<class 'bool'>

In [ ]:
var=34.56
print(type(var))

<class 'float'>

In [ ]:
#Rules of Variables in Python
myvar=45
#Invalid
10myvar=45
my-var=45 #_ underscore  NO !@#$%^&*()-+
my var=4

SyntaxError: invalid decimal literal (<ipython-input-17-621b2e2ea571>, line 4)

In [ ]:
#Operators in Python   a+b

#Airthmetical Operators: +,-,/,*,//,%(modulo),**(power)
print(45+78)
print(78*6) #Multiplication

print(45/8)  #Division
print(45//8)  #Floor Division only int part
print(10%3) #Remainder of division

print(10**3)   #x^y  power

123
468
5.625
5
1
1000

In [ ]:
#Round off
print(round(45.23698,2))

45.24

In [ ]:
#Assignment Operators  =,+=,-=
salary=45000
salary+=10000  #a+=b  a=a+b
print(salary)
salary-=5000  #a-=b  a=a-b
print(salary)

#++,--  Not supported

55000
50000

In [ ]:
#Relational/Comparision Operator >,<,<=,>=,==,!=(not equal)
age=45
print(age>18)   #True
print(age<18)
print(age>=18)
print(age<=18)
print(age==18)  #age=18 assignment
print(age!=18)  #not equal

True
False
True
False
False
True

In [ ]:
#Logical operators: and, or, not
age=70
print(age>18 and age<60)
print(age>18 or age<60)
print(not age>18)

False
True
False

In [ ]:
#Flow Control Statements: Conditional Statements,Loops
#Conditional Statements: if, else , elif , nested statement

#Check num is even or odd ?
num=17
if num%2==0:
    print("Even")
else:
    print("Odd")

SyntaxError: expected ':' (<ipython-input-34-40f2161b79f9>, line 6)

In [ ]:
#Check if character is vowel or consonent ?
char=input("Enter a character: ")
if char=='a' or char=='A':
  print("its a vowel")
elif char=='e' or char=='E':
  print("its a vowel")
elif char=='i' or char=='I':
  print("its a vowel")
elif char=='o' or char=='O':
  print("its a vowel")
elif char=='u' or char=='U':
  print("its a vowel")
else:
  print("its a consonent")

KeyboardInterrupt: Interrupted by user

In [ ]:
#Check if character is vowel or consonent ?
char=input("Enter a character: ")
if char in 'aeiouAEIOU':
  print("its a vowel")
else:
  print("its a consonent")

Enter a character: o
its a vowel

In [ ]:
#Nested statements
#marks<80 --->B
#marks>80 and marks<100--->A
#marks>90--->A+

marks=int(input("Enter your marks: "))
if marks<80:
  print("B")
elif marks>80 and marks<100:
   if marks>90:
      print("A+")
   else:
      print("A")
elif marks>100:
  print("Invalid marks")

Enter your marks: 78
B

In [ ]:
marks=int(input("Enter your marks: ")) #Type Casting/Conversion
print(marks)
print(type(marks))

Enter your marks: 45
45
<class 'int'>

In [ ]:
#Python Loops: for,while
#For Loop: works well with collection(list,tuple,set,dict)
lst=[1,2,3,4,5,6,7,8,9,10]
num=int(input("Enter a number: "))
for i in lst:
  print(i*num)

Enter a number: 12
12
24
36
48
60
72
84
96
108
120

In [ ]:
#While: works with conditions
num=int(input("Enter a number: "))
i=1
while i<=10:  #Stopping condition
  print(i*num)
  i+=1

Enter a number: 14
14
28
42
56
70
84
98
112
126
140

In [ ]:
print(list(range(10,20)))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Sequences in Python (Collection datatypes)

#Strings, List, Tuple, Set, Dict

In [ ]:
#Ordered/Unordered(index)
#Mutable/Immutable(can we change item)
#Allow Duplicates or not

#1.Strings:Ordered,Immutable,Allow Duplicates
#2.List[]: ordered,Mutable,Allow Duplicates
#3.Tuple(): ordered,Immutable, Allow Duplciates
#4.Set{}: unordered, Mutable, DO NOT allow duplcaites
#5.Dict{key:value}: unordered, Keys are immutable, Values are mutable, keys can not be duplicate but value can be

In [ ]:
#Strings
name="Radhika Tiwari"
print(name)
print(type(name))

Radhika Tiwari
<class 'str'>

In [ ]:
print(name[0])
name[0]='X'  #String are immutable

R

TypeError: 'str' object does not support item assignment

In [ ]:
print(name[-1])
print(len(name))

#Slicing   str[start:stop:step]
print(name[0:5])
print(name[8:])  #Default stop is end of the collection
print(name[:7])  #Deafult start is 0
print(name[::2])

str='abcdefghijklmnop'
print(str[0::2])

i
14
Radhi
Tiwari
Radhika
RdiaTwr
acegikmo

TypeError: string indices must be integers

In [ ]:
#String interpolations(enbadding of values)
name="Amit"
age=56
print("My name is "+name+" and I am "+str(age)+" years old")

#f-string
print(f"My name is {name} and I am {age} years old")

#Format function
print("My name is {} and I am {} years old".format(name,age))
print("My name is {} and I am {} years old".format(age,name))
print("My name is {1} and I am {0} years old".format(age,name))

My name is Amit and I am 56 years old
My name is Amit and I am 56 years old
My name is Amit and I am 56 years old
My name is 56 and I am Amit years old
My name is Amit and I am 56 years old

In [ ]:
#Python Lists
lst=[1,2,3,4,5,6,7,8,9,10]
print(lst)

emp=[1001,'Amit Sharma',25000,4.6,['proj1','proj2']]
print(type(emp))
print(emp[3])  #indexing
print(emp[4][0]) #Forwrded indexing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>
4.6
proj1

In [ ]:
#Mutable
emp[2]=30000
print(emp)

lst=[45,63,98,65,32,32,32,32]
print(lst)

[1001, 'Amit Sharma', 30000, 4.6, ['proj1', 'proj2']]
[45, 63, 98, 65, 32, 32, 32, 32]

In [ ]:
#Insert and delete items from list
#Insert: append(),insert(),extend()
print(emp)

emp.append('Mumbai') #one value at the end
print(emp)

emp.extend(['Manager','Developer']) #Multiple values at the end
print(emp)

emp.insert(2,'New Value') #insert at specific index
print(emp)

[1001, 'Amit Sharma', 30000, 4.6, ['proj1', 'proj2'], 'Mumbai', 'Mumbai', 'Manager', 'Developer']
[1001, 'Amit Sharma', 30000, 4.6, ['proj1', 'proj2'], 'Mumbai', 'Mumbai', 'Manager', 'Developer', 'Mumbai']
[1001, 'Amit Sharma', 30000, 4.6, ['proj1', 'proj2'], 'Mumbai', 'Mumbai', 'Manager', 'Developer', 'Mumbai', 'Manager', 'Developer']
[1001, 'Amit Sharma', 'New Value', 30000, 4.6, ['proj1', 'proj2'], 'Mumbai', 'Mumbai', 'Manager', 'Developer', 'Mumbai', 'Manager', 'Developer']

In [ ]:
#Delete from the list: pop(),remove()
print(emp)
emp.pop() #delete last element

[1001, 'Amit Sharma', 'New Value', 30000, 4.6, ['proj1', 'proj2'], 'Mumbai', 'Mumbai', 'Manager', 'Developer', 'Mumbai', 'Manager', 'Developer']

'Developer'

In [ ]:
print(emp)

[1001, 'Amit Sharma', 'New Value', 30000, 4.6, ['proj1', 'proj2'], 'Mumbai', 'Mumbai', 'Manager', 'Developer', 'Mumbai', 'Manager']

In [ ]:
emp.pop(2)
print(emp)

[1001, 'Amit Sharma', 30000, 4.6, ['proj1', 'proj2'], 'Mumbai', 'Mumbai', 'Manager', 'Developer', 'Mumbai', 'Manager']

In [ ]:
emp.remove('Mumbai') #delete the first occurance
print(emp)

[1001, 'Amit Sharma', 30000, 4.6, ['proj1', 'proj2'], 'Mumbai', 'Manager', 'Developer', 'Mumbai', 'Manager']

In [ ]:
for item in emp:
  if item=='Mumbai':
    emp.remove(item)

print(emp)

[1001, 'Amit Sharma', 30000, 4.6, ['proj1', 'proj2'], 'Manager', 'Developer', 'Manager']

In [ ]:
print(len(emp))

8

In [ ]:
for item in emp:
  print(item)

1001
Amit Sharma
30000
4.6
['proj1', 'proj2']
Manager
Developer
Manager

In [ ]:
#Python Tuple
tup=(45,63,98,56,23)
print(tup)
print(type(tup))

(45, 63, 98, 56, 23)
<class 'tuple'>

In [ ]:
print(tup[0])  #index

tup[0]=100  #Immutable

45

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Can we have Mutable tuple ?---> DIY
#Can we have Immutable List ?

tup=([10,20],[30,40])  #Mutable Tuple
lst=[(10,20),30,40]  #Immutable List

In [ ]:
#Python Sets{}: Unordered, Do not allow duplicate
sample_set={1,2,3,4,4,5,5,6,6,6,3}
print(type(sample_set))
print(sample_set)
print(sample_set[2])

<class 'set'>
{1, 2, 3, 4, 5, 6}

TypeError: 'set' object is not subscriptable

In [ ]:
set_a={45,69,87,32}
set_b={85,63,97,84,32}
print(set_a.union(set_b))
print(set_a.intersection(set_b))
print(set_a.difference(set_b))

{32, 97, 69, 45, 84, 85, 87, 63}
{32}
{69, 45, 87}

In [ ]:
#Remove Duplcaites
emp=[1001, 'Amit Sharma', 'New Value', 30000, 4.6, 'Mumbai', 'Mumbai', 'Manager', 'Developer', 'Mumbai', 'Manager']

In [ ]:
set_emp=set(emp)

In [ ]:
emp=list(set_emp)
print(emp)

[4.6, 1001, 'Manager', 'Mumbai', 'New Value', 'Developer', 30000, 'Amit Sharma']

In [ ]:
emp[100]

IndexError: list index out of range

In [ ]:
#Membership operators: in and not in
print(emp)
print('Mumbai' in emp)
print('Blore' in emp)
print('Blore' not in emp)

[4.6, 1001, 'Manager', 'Mumbai', 'New Value', 'Developer', 30000, 'Amit Sharma']
True
False
True

In [ ]:
#Python Dictionaries {key:value}
emp={'empid':1001,'name':'Amit Sharma','salary':25000,'projects':['proj1','proj2'],100:'abc'}
print(emp['name'])
print(emp[100])

Amit Sharma
abc

In [ ]:
#Mutable: Keys can not be changes but values can
emp['salary']=30000
print(emp)

{'empid': 1001, 'name': 'Amit Sharma', 'salary': 30000, 'projects': ['proj1', 'proj2'], 100: 'abc'}

In [ ]:
#Type conversions
tup = (1, 2, 3, 4, 5, 6)
# Convert to list
l = list(tup)
# Modify the element at index 3
l[3] = 9
# Convert back to tuple
tup = tuple(l)
print(tup)

(1, 2, 3, 9, 5, 6)

**Python Functions**

(Write once-use many)

In [ ]:
#Step01:Define the function
#a,b- arguments,parameters
def add(a,b):
  print(a)
  print(b)
  return a+b

In [ ]:
#Step02:Call/invoke function
print(add(45,63))

45
63
108

In [ ]:
print(add(100,652))

100
652
752

In [ ]:
result=add(874,865) #Because of return
print(result)

874
865
1739

In [ ]:
#Types of Arguments
#1.Required positional Arguments

def func1(name,age):
  print(f"My name is {name} and I am {age} years old")

func1('Amit',56)
#func1('Rajesh')
func1(56,'Rajesh')

My name is Amit and I am 56 years old
My name is 56 and I am Rajesh years old

In [ ]:
#2.Key-Word Arguments

def func2(name,age):
  print(f"My name is {name} and I am {age} years old")

func2(name='Amit',age=56)
func2(age=40,name='Raghav')

My name is Amit and I am 56 years old
My name is Raghav and I am 40 years old

In [ ]:
#3.Default Arguments
def func3(name,age=30):
  print(f"My name is {name} and I am {age} years old")

func3('Amit')
func3('Raghav',56)

My name is Amit and I am 30 years old
My name is Raghav and I am 30 years old

In [ ]:
#4.Arbitary Arguments
def func4(*names):
  for name in names:
    print("Hi",name)

In [ ]:
func4('Kapil','Fahad','Rani','Pratosh')

Hi Kapil
Hi Fahad
Hi Rani
Hi Pratosh

In [ ]:
#Alternate to Arbitary Arguments
def func5(names):
  for name in names:
    print("Hi",name)

In [ ]:
func5(['Kapil','Fahad','Rani','Pratosh'])

Hi Kapil
Hi Fahad
Hi Rani
Hi Pratosh

In [ ]:
func5(('Kapil','Fahad','Rani','Pratosh'))

Hi Kapil
Hi Fahad
Hi Rani
Hi Pratosh

In [ ]:
#5.Key-Arbitary Arguments--->Do it your self

In [ ]:
def my_func(name='Ravi', age):
    print("my name is ",name)

my_func(23)

In [ ]:
#alternative to arbitary arguments
def func5(names):
  for name in names:
    print("hi",name)
func5(['kapil','farhad', 'rani'])

hi kapil
hi farhad
hi rani